<main>
    <form action="/session/authorize" method="post">
        <label for="session_code">
            Enter code
        </label>
        <input id="session_code" name="session_code" max="4" min="0" required="true" >
        <button type="submit">Continue</button>
    </form>
</main>