<div>
    <p>Code: {{sessionCode}}</p>
</div>

<form id="groceries-form" hx-post="/groceries/sort" hx-trigger="end" hx-target="#groceries" hx-swap="innerHTML" hx-select="li">
    <ol id="groceries">
        {{#each groceryList}}
            {{>grocery_li}}
        {{/each}}
    </ol>
    <input type="hidden" id="sorted_name" name="sorted_name" value="">
    <input type="hidden" id="sorted_new_position" name="sorted_new_position" value="">
</form>

<form hx-post="/groceries" hx-target="#groceries" hx-swap="beforeend">
    <label for="name">Name</label>
    <input id="name" type="text" required="true" name="name" placeholder="Eggs" >
    <button>Add</button>
</form>

<script src="/bundle.js"></script>