<li {{#if checked}}style="text-decoration: line-through;"{{/if}} >
    {{name}}
    {{#if checked}}
    <input type="checkbox" checked="true" hx-post="/groceries/{{name}}/toggle-checked" hx-target="closest li" hx-swap="outerHTML" />
    {{else}}
    <input type="checkbox" hx-post="/groceries/{{name}}/toggle-checked" hx-target="closest li" hx-swap="outerHTML" />
    {{/if}}
</li>